<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="visor-cuenta">
  <template>
<!--
    <style>
      :host {
        display: block;
      }
    </style>
    <h1>Sus cuentas</h1>
    <h3>Iban: {{iban}} </h3>
    <h3>Balance: {{balance}}</h3>

    <template is="dom-repeat" items="{{accounts}}">
    	<span>IBAN - {{item.iban}}</span>
    	<span>Saldo - {{item.balance}}</span>
      </br>
    </template>
-->
    <iron-ajax auto=""
      id="getUsers"
      url="http://localhost:3000/apitechu/v2/users/{{userid}}/accounts"
      handle-as="json"
      on-response="showData">
    </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuenta extends Polymer.Element {
      static get is() { return 'visor-cuenta'; }
      static get properties() {
        return {
          iban : {
            type : String
          }, userid:{
            type: Number
          }, balance:{
            type: Number
          },accounts: {
	           type: Array
          }
        };
      }
      showData(data){
          console.log("showData visor-cuenta");
          console.log(data.detail.response);
          this.accounts = data.detail.response;
          //this.iban = data.detail.response[0].iban;
          //this.balance = data.detail.response[0].balance;

      }
    }

    window.customElements.define(VisorCuenta.is, VisorCuenta);
  </script>
</dom-module>
