<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="dm-cuentas">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
<!--
    <h1>Sus cuentas</h1>
    <template is="dom-repeat" items="{{accounts}}">
    	<span>IBAN - {{item.iban}}</span>
    	<span>Saldo - {{item.balance}}</span>
      </br>
    </template>
-->
    <iron-ajax
      id="getAccounts"
      url="http://localhost:3000/apitechu/v2/users/{{userid}}/accounts"
      handle-as="json"
      on-response="showData"
      on-error="showError">
    </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DmCuentas extends Polymer.Element {
      static get is() { return 'dm-cuentas'; }
      static get properties() {
        return {
          iban : {
            type : String
          }, userid:{
            type: Number,
            observer : '_requestAccount'
          }, balance:{
            type: Number
          },accounts: {
	           type: Array
          }
        };
      }

      _requestAccount(data){
        console.log("Componente dm-cuentas : funcion _requestAccount");
        this.$.getAccounts.generateRequest();
        console.log("  LLamada a la API");
      }

      showData(data){
          console.log("showData visor-cuenta");
          console.log(data.detail.response);
          //this.accounts = data.detail.response;
          //this.iban = data.detail.response[0].iban;
          //this.balance = data.detail.response[0].balance;
          this.dispatchEvent(new CustomEvent("cuentas-response",{"detail":data.detail.response}));
          console.log("  Evento enviando");

      }

      showError(error){
          console.log("Error dm-login");
          console.log(error);
          this.dispatchEvent(new CustomEvent("cuentas-error",{
            "detail": {
                "msg":"No hay cuentas disponibles"
              }
            })
          );
      }

    }

    window.customElements.define(DmCuentas.is, DmCuentas);
  </script>
</dom-module>
