<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="ui-user">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <div class="form-group">
      <nav class="navbar navbar-light bg-light col-md-3" >
        <h5>Alta Usuario</h5>
      </nav>
    </div>

    <div class="form-group">
      <input type="text" class="form-control col-md-3" placeholder="First name" value="{{first_name::input}}"required/>
    </div>
    <div class="form-group">
      <input type="text" class="form-control col-md-3" placeholder="Last name" value="{{last_name::input}}"required/>
    </div>
    <div class="form-group">
      <input type="email" class="form-control col-md-3" placeholder="Email" value="{{email::input}}"required/>
    </div>
    <div class="form-group">
      <input type="password" class="form-control col-md-3" placeholder="Password" value="{{password::input}}"/>
    </div>
    <div class="form-group">
      <button class="btn btn-primary btn-block col-md-3" on-click="sendEventUser">Aceptar</button>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class uiUser extends Polymer.Element {
      static get is() { return 'ui-user'; }
      static get properties() {
        return {
          email:{
            type: String
          }, password:{
            type: String
          }, first_name:{
            type: String
          }, last_name:{
            type: String
          }

        };
      }

      sendEventUser(e){
        console.log("Botón Alta pulsado");
        console.log(e);

        this.dispatchEvent(new CustomEvent(
          "myeventuser",
          {
            "detail" : {
              "email" : this.email,
              "password" : this.password,
              "first_name" : this.first_name,
              "last_name" : this.last_name
            }
          })
        );
      }

    }

    window.customElements.define(uiUser.is, uiUser);
  </script>
</dom-module>
