<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="dm-apiexterna">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <iron-ajax auto=""
      id="getTime"
      url= "http://api.openweathermap.org/data/2.5/weather?q=madrid&units=metric&appid=bf1384d75f723a087aff389a699d70a8"
      handle-as="json"
      on-response="showData"
      on-error="showError">
    </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DmApiexterna extends Polymer.Element {
      static get is() { return 'dm-apiexterna'; }
      static get properties() {
        return {

        };
      }

      showData(data){
          console.log("showData dm-apiexterna");
          console.log(data.detail.response);
          this.dispatchEvent(new CustomEvent("apiext-response",{"detail":data.detail.response}));
          console.log("  Evento enviando");
          console.log(JSON.stringify(data.detail.response));
          console.log(JSON.stringify(data.detail.response.weather[0].icon));

      }

      showError(error){
          console.log("Error dm-apiexterna");
          console.log(error);
          this.dispatchEvent(new CustomEvent("apiext-error",{
            "detail": {
                "msg":"Error en la llamada a la apiexterna"
              }
            })
          );
      }

    }

    window.customElements.define(DmApiexterna.is, DmApiexterna);
  </script>
</dom-module>
