<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="ui-movimientos">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <div class="form-group">
      <nav class="navbar navbar-light " >
        <h4>Cuenta: {{iban}}  -  {{balance}}€</h4>
      </nav>
    </div>

    <div class="card">
      <div class="card-header">
        <table>
		        <tr>
			           <td width="20%">
				               <img src="../../img/transferaccount_icon.png" alt="account" style="width: 40px; height: 40px" class="rounded float-left">
			           </td>
			           <td width="80%">
				               <h5>Sus movimientos</h5>
			           </td>
		         </tr>
	     </table>
      </div>

      <div class="card-body">

  <table class="table">
  <thead>
    <tr>
      <th scope="col">FECHA</th>
      <th scope="col">CONCEPTO</th>
      <th scope="col">IMPORTE</th>
    </tr>
  </thead>
  <tbody>
      <template is="dom-repeat" items="{{movements}}">
        <tr>
    	   <td>{{item.fecha}}</td>
         <td>{{item.concepto}}</td>
         <td>{{item.importe}}€</td>
        </tr>
      </template>
  </tbody>
  </table>
  </div>
  </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class uiMovimientos extends Polymer.Element {
      static get is() { return 'ui-movimientos'; }
      static get properties() {
        return {
          iban : {
            type: String
          }, balance:{
            type: Number
          }, movements:{
            type: Array
          }
        };
      }

    }

    window.customElements.define(uiMovimientos.is, uiMovimientos);
  </script>
</dom-module>
