<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="dm-login">
  <template>

    <iron-ajax
      id="doLogin"
      method="POST"
      url="http://localhost:3000/apitechu/v2/login"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError">
    </iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DmLogin extends Polymer.Element {
      static get is() { return 'dm-login'; }
      static get properties() {
        return {
          credential : {
            type : Object,
            observer : '_requestLogin'
          }

        };
      }

      _requestLogin(data){
        console.log("Componente dm-login : funcion _requestLogin");
        console.log("  Datos entrada ->" + JSON.stringify(data));
        var loginData = {
          "email" : data.email,
          "password" : data.password
        }
       //enviarmos por body los campos
        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();
        console.log("  Petición enviada");
        console.log("  LLamada a la API");
      }


      manageAJAXResponse(data){
        console.log("Respuesta recibida dm-login");
        console.log(data);
        console.log(data.detail.response);
        this.dispatchEvent(new CustomEvent("login-response",{"detail":data.detail.response.user}));
        console.log("  Evento enviando");
      }

      showError(error){
        console.log("Error dm-login");
        console.log(error);
        this.dispatchEvent(new CustomEvent("login-error",{
          "detail": {
            "msg":"Error login usuario"
            }
          })
        );

      }

    }

    window.customElements.define(DmLogin.is, DmLogin);
  </script>
</dom-module>
