<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<link rel="import" href="../ui-login/ui-login.html">

<dom-module id="ui-cuentas">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <div class="form-group">
      <nav class="navbar navbar-light " >
        <h3>¡Hola,<strong> {{first_name}} {{last_name}}!</strong></h3>
      </nav>
    </div>

    <div class="card">
        <div class="card-header">
    	<table>
    		<tr>
    			<td width="20%">
    				<img src="../../img/account_icon.png" alt="account" style="width: 40px; height: 40px" class="rounded float-left">
    			</td>
    			<td width="80%">
    				<h4 class="rounded">Cuentas Personales</h4>
    			</td>
    		</tr>
    	</table>
        </div>
     <div class="card-body">

  <table class="table">
  <thead>
    <tr>
      <th scope="col">IBAN</th>
      <th scope="col">Saldo</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
      <template is="dom-repeat" id="movimientos" items="{{accounts}}">
        <tr>
    	   <td>{{item.iban}}</td>
         <td>{{item.balance}} €</td>
         <td>
            <button type="button" class="btn btn-secondary btn-sm" on-click="sendEventAccount">Ver movimientos</button>
         </td>
        </tr>
      </template>
  </tbody>
  </table>
</div>
</div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class uiCuentas extends Polymer.Element {
      static get is() { return 'ui-cuentas'; }
      static get properties() {
        return {
          id : {
            type: Number
          }, email:{
            type: String
          }, first_name:{
            type: String
          }, last_name: {
            type: String
          }, accounts : {
            type: Array
          }

        };
      }

      sendEventAccount(e){
        console.log("Botón ver movimientos");
        console.log("  iban" + e.model.item.iban);
        console.log("  importe" + e.model.item.balance,);
        console.log("  id" + e.model.item.id);

        //console.log("   iban : " + this.$.movimientos.itemForElement(e.target););
        this.dispatchEvent(new CustomEvent(
          "eventaccount",
          {
            "detail" : {
              "iban" : e.model.item.iban,
              "balance" : e.model.item.balance,
              "accountid" : e.model.item.id

            }
          }
          )
        );
        console.log("Evento movimientos enviado");
      }

    }

    window.customElements.define(uiCuentas.is, uiCuentas);
  </script>
</dom-module>
