<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="ui-error">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <div class="alert alert-warning" role="alert">
          <strong>¡Cuidado!</strong> {{mensaje}}.
    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class uiError extends Polymer.Element {
      static get is() { return 'ui-error'; }
      static get properties() {
        return {
          mensaje:{
            type: String
          }
        };
      }

    }
    window.customElements.define(uiError.is, uiError);
  </script>
</dom-module>
