<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="ui-login">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <div class="form-group">
      <nav class="navbar navbar-light bg-light col-md-3" >
        <h5>Introduce tus datos de acceso</h5>
      </nav>
    </div>

    <div class="form-group">
      <input type="email" class="form-control col-md-3" placeholder="Email" value="{{email::input}}"required/>
    </div>
    <div class="form-group">
      <input type="password" class="form-control col-md-3" placeholder="Password" value="{{password::input}}"/>
    </div>
    <div class="form-group">
      <button class="btn btn-primary btn-block col-md-3" on-click="sendEventLogin">Entrar</button>
    </div>
    <div class="form-group">
      <button class="btn btn-outline-primary col-md-3" on-click="sendEventUser" >
        <img src="../../img/myprofile_icon.png" alt="account" style="width: 20px; height: 20px">
        Hazte Cliente
      </button>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class uiLogin extends Polymer.Element {
      static get is() { return 'ui-login'; }
      static get properties() {
        return {
          email:{
            type: String
          }, password:{
            type: String
          }

        };
      }

      sendEventLogin(e){
        console.log("Botón login pulsado");
        console.log(e);

        this.dispatchEvent(new CustomEvent(
          "myevent",
          {
            "detail" : {
              "email" : this.email,
              "password" : this.password
            }
          }
          )
        );
      }

      sendEventUser(e){
        console.log("Botón Hazte Cliente pulsado");
        console.log(e);

        this.dispatchEvent(new CustomEvent(
          "myeventuser",
          {
            "detail" : {
              "showUser" :true
            }
          }
          )
        );
      }



    }

    window.customElements.define(uiLogin.is, uiLogin);
  </script>
</dom-module>
