<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="dm-user">
  <template>

    <iron-ajax
      id="doUser"
      method="POST"
      url="http://localhost:3000/v2/user"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError">
    </iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DmUser extends Polymer.Element {
      static get is() { return 'dm-user'; }
      static get properties() {
        return {
          new_user : {
            type : Object,
            observer : '_requestUser'
          }

        };
      }

      _requestUser(data){
        console.log("Componente dm-user : funcion _requestUser");
        console.log("  Datos entrada ->" + JSON.stringify(data));
        this.$.doUser.body = JSON.stringify(data);
        this.$.doUser.generateRequest();
        console.log("  Petición enviada");
        console.log("  LLamada a la API");

      }


      manageAJAXResponse(data){
        console.log("Respuesta recibida");
        console.log(data);
        console.log(data.detail.response);
        //this.credential = data.detail.response.user;
        //this.logged = true;
        //console.log("Objeto this -> " + this);
        this.dispatchEvent(new CustomEvent("user-response",{"detail":data.detail.response}));
        console.log("  Evento enviando");
      }

      showError(error){
        console.log("Error dm-user");
        console.log(error);
        this.dispatchEvent(new CustomEvent("user-error",{
          "detail": {
            "msg":"Error alta usuario"
            }
          })
        );
      }

    }

    window.customElements.define(DmUser.is, DmUser);
  </script>
</dom-module>
