
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-if.html">
<!--
<link rel="import" href="../emisor-evento/emisor-evento.html">
<link rel="import" href="../receptor-evento/receptor-evento.html">
-->
<link rel="import" href="../ui-login/ui-login.html">
<link rel="import" href="../dm-login/dm-login.html">
<link rel="import" href="../ui-cuentas/ui-cuentas.html">
<link rel="import" href="../dm-cuentas/dm-cuentas.html">
<link rel="import" href="../ui-movimientos/ui-movimientos.html">
<link rel="import" href="../dm-movimientos/dm-movimientos.html">
<link rel="import" href="../ui-user/ui-user.html">
<link rel="import" href="../dm-user/dm-user.html">
<link rel="import" href="../dm-altacuenta/dm-altacuenta.html">
<link rel="import" href="../ui-error/ui-error.html">
<link rel="import" href="../dm-apiexterna/dm-apiexterna.html">

<dom-module id="mediador-eventos">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <nav class="navbar navbar-expand-md navbar-light bg-light" style="text-align: center; background: linear-gradient(90deg, #D4EDFC, #08298A, #D4EDFC);">
      <span class="navbar-brand mb-0 h1" style="margin:0 auto; font-size: 2.75rem; color: #FFFFFF;"> Bienvenido a su banco</span>
      <div hidden$="{{!showLog}}">
        <button type="button" class="btn btn-primary" style="align: rigth" on-click="sendDatosLogout">Cerrar Sesion</button>
      </div>
    </nav>

    <nav class="nav" style="background: #004481">
      <button type="button" class="btn btn-primary" style="background: #004481; border: #004481" on-click="eventHome">Home</button>
      <button type="button" class="btn btn-primary" style="background: #004481; border: #004481" on-click="eventCuentas">Cuentas Personales</button>
    </nav>

    <div hidden$="{{showIcon}}">
    <p class="text-right">
      <img src="http://openweathermap.org/img/w/{{weather}}.png" alt="weather">
      <b><font size=5 >{{temp}}º</b></font>  <font size=3>min {{temp_min}}º max {{temp_max}}º</font>
    </p>
    </div>

    <div hidden$="{{showLogin}}">
      <ui-login on-myevent="processEvent" on-myeventuser="processEventAlta"></ui-login>
    </div>

    <dm-login credential={{credential}} on-login-response="processResquestLogin" on-login-error="processError"></dm-login>
    <dm-cuentas userid={{id}} on-cuentas-response="processResquestCuentas" on-cuentas-error="processError"></dm-cuentas>

    <div hidden$="{{showAcc}}">
      <ui-cuentas first_name={{first_name}} last_name={{last_name}} email={{email}} accounts={{accounts}} on-eventaccount="processEventAccount"></ui-cuentas>
    </div>

    <dm-movimientos accountid={{accountid}} on-movimientos-response="processResquestMovimientos" on-movimientos-error="processError"></dm-movimientos>

    <div hidden$="{{showMov}}">
      <ui-movimientos iban={{iban}} balance={{balance}} movements={{movements}}></ui-movimientos>
    </div>

    <div hidden$="{{showUser}}">
      <ui-user on-myeventuser="processEventUser" ></ui-user>
    </div>

    <dm-user new_user={{new_user}} on-user-response="processResquestUser" on-user-error="processError"></dm-user>
    <dm-altacuenta userid={{new_iduser}} on-altacuenta-response="processResquestAltaCuenta" on-altacuenta-error="processError"></dm-altacuenta>

    <div hidden$="{{showError}}">
      <ui-error mensaje={{msg}}></ui-error>
    </div>

    <dm-apiexterna on-apiext-response="processWeather"></dm-apiexterna>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MediadorEventos extends Polymer.Element {
      static get is() { return 'mediador-eventos'; }
      static get properties() {
        return {
          credential : {
            type : Object
          },user : {
            type: Object
          },first_name : {
            type: String
          },last_name : {
              type: String
          },email: {
              type: String
          },id : {
            type: Number
          }, accounts : {
              type: Array
          }, iban : {
              type : String
          }, balance : {
              type : Number
          }, accountid : {
              type: Number
          },movements : {
              type : Array
          }, showLogin : {
              type: Boolean,
              value: false
          }, showAcc : {
              type: Boolean,
              value: true
          }, showMov : {
              type: Boolean,
              value: true
          }, showUser : {
              type: Boolean,
              value: true
          }, showError : {
              type: Boolean,
              value: true
          }, new_user : {
              type : Object
          },new_iduser: {
              type: String
          },msg: {
              type: String,
              value : ""
          }, logged : {
              type: Boolean,
              value: false
          }, weather : {
              type: String,
              value: ""
          }, temp : {
              type: Number
          }, temp_min : {
              type: Number
          }, temp_max : {
              type: Number
          },showIcon:{
              type: Boolean,
              value:true
          }
        };
      }

      processEvent(e){
        console.log("Evento capturado del componente ui-login");
        console.log(e.detail);
        this.credential = e.detail;
        console.log("  Mostramos credential -> " + JSON.stringify(this.credential));
        //this.$.receiver.showData(e.detail);
      }

      processEventAlta(e){
        console.log("Evento capturado del componente ui-login Hazte Cliente");
        console.log(e.detail);
        this.showUser = false;
        this.showLogin = true;
      }


      processResquestLogin(e){
        console.log("Evento capturado del elemento dm-login");
        this.user = e.detail;
        console.log("  mostramos los datos del usuario:");
        this.first_name = this.user.first_name;
        this.last_name = this.user.last_name;
        this.email = this.user.email;
        this.id = this.user.id;
        this.showLogin = true;
        console.log(" - Nombre: " + this.first_name);
        console.log(" - Apellidos: " + this.last_name);
        console.log(" - id: " + this.id);
      }

      processResquestCuentas(e){
        console.log("DM-CUENTAS");
        console.log(e.detail);
        this.accounts = e.detail;
        this.showAcc = false;
        this.logged = true;
      }

      processEventAccount(e){
        console.log("Mediador - Recibimos evento de UI-cuentas");
        console.log("misma cuenta: " + (this.accountid == e.detail.accountid));
        if(this.accountid != e.detail.accountid){
          this.accountid = e.detail.accountid;
          this.iban = e.detail.iban;
          this.balance = e.detail.balance;
        }else{
          this.showAcc = true;
          if(this.msg == "")
            this.showMov = false;
          else
            this.showError = false;
          console.log("VALOR msg : " + this.msg);
        }
        console.log(" - iban: " + this.iban);
        console.log(" - balance " + this.balance);
        console.log(" - id " + this.accountid);
      }

      processResquestMovimientos(e){
        console.log("DM-MOVIMIENTOS");
        console.log(e.detail);
        this.movements = e.detail;
        //this.showAcc = false;
        this.showMov = false;
        this.showAcc = true;
        this.msg = "";
        console.log("Esconde : ");
        console.log(" - Cuentas: " + this.showAcc);
        console.log(" - Movimientos: " + this.showMov);
      }

      processEventUser(e){
        console.log("Evento capturado del componente ui-user");
        console.log(e.detail);
        this.new_user = e.detail;
        console.log("  Mostrams datos nuevo usuario -> " + JSON.stringify(this.new_user));
        //this.$.receiver.showData(e.detail);
      }

      processResquestUser(e){
        console.log("Evento capturado del elemento dm-user");
        console.log("USUSARIO CREADO CORRECTAMENTE");

        this.new_iduser = e.detail.id;
        console.log("  Nuevo idUsuario: " + this.new_iduser);
      }

      processResquestAltaCuenta(e){
        console.log("Evento capturado del elemento dm-altacuenta");
        this.showLogin = false;
        this.showUser = true;
      }

      processError(e){
        console.log("ERROR");
        this.msg = e.detail.msg;
        this.showError = false;
        this.showLogin = true;
        this.showAcc = true;
        this.showMov = true;
        this.showUser = true;
      }

      eventHome(){
        console.log("Botón HOME pulsado");
        if(!this.logged){
          this.showLogin = false;
          this.showError = true;
          this.showUser = true;
        }else {
          this.showAcc = false;
          this.showError = true;
          this.showMov = true;
        }
      }

      eventCuentas(){
        console.log("Botón CUENTAS PERSONASLESN pulsado");
        if(this.logged){
          this.showAcc = false;
          this.showError = true;
          this.showMov = true;
        }
        console.log("Esconde : ");
        console.log(" - Cuentas: " + this.showAcc);
        console.log(" - Movimientos: " + this.showMov);
      }

      processWeather(e){
        console.log("Hemos recuperado el tiempo de una apiexterna");
        console.log("icon -> " + JSON.stringify(e.detail.weather[0].icon));
        console.log("temperatura -> " + JSON.stringify(e.detail.main.temp));
        console.log("min -> " + JSON.stringify(e.detail.main.temp_min) + " - max -> "+ JSON.stringify(e.detail.main.temp_max));
        console.log("valor inicial variable weathet -> " + this.weather);
        this.weather = e.detail.weather[0].icon
        this.temp = e.detail.main.temp;
        this.temp_min = e.detail.main.temp_min;
        this.temp_max = e.detail.main.temp_max;
        this.showIcon = false;
      }

    }

    window.customElements.define(MediadorEventos.is, MediadorEventos);
  </script>
</dom-module>
