<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="dm-altacuenta">
  <template>

    <iron-ajax
      id="doNewAccount"
      method="POST"
      url="http://localhost:3000/v2/user/account"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError">
    </iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DmAltacuenta extends Polymer.Element {
      static get is() { return 'dm-altacuenta'; }
      static get properties() {
        return {
          userid : {
            type : Number,
            observer : '_requestNewAccount'
          }

        };
      }

      _requestNewAccount(data){
        console.log("Componente dm-altacuenta : funcion _requestNewAccount");
        console.log(" idusuario --> " + this.userid);
        var idData = {
          "id" : this.userid
        }
        console.log("  Datos entrada ->" + JSON.stringify(idData));
        this.$.doNewAccount.body = JSON.stringify(idData);
        this.$.doNewAccount.generateRequest();
        console.log("  Petición enviada");
        console.log("  LLamada a la API");
      }


      manageAJAXResponse(data){
        console.log("Respuesta recibida");
        console.log(data);
        console.log(data.detail.response);
        //this.credential = data.detail.response.user;
        //this.logged = true;
        //console.log("Objeto this -> " + this);
        this.dispatchEvent(new CustomEvent("altacuenta-response",{"detail":data.detail.response}));
        console.log("  Evento enviando");
      }

      showError(error){
        console.log("Error dm-altacuenta");
        console.log(error);
        this.dispatchEvent(new CustomEvent("altacuenta-error",{
          "detail": {
            "msg":"Error alta cuenta usuario"
            }
          })
        );
      }

    }

    window.customElements.define(DmAltacuenta.is, DmAltacuenta);
  </script>
</dom-module>
