<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="dm-movimientos">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <iron-ajax
      id="getMovements"
      url="http://localhost:3000/apitechu/v2/users/account/{{accountid}}/movements"
      handle-as="json"
      on-response="showData"
      on-error="showError">
    </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DmMovimientos extends Polymer.Element {
      static get is() { return 'dm-movimientos'; }
      static get properties() {
        return {
          accountid:{
            type: Number,
            observer : '_requestMovement'
          }
        };
      }

      _requestMovement(data){
        console.log("Componente dm-movimientos : funcion _requestMovement");
        this.$.getMovements.generateRequest();
        console.log("  LLamada a la API");
      }

      showData(data){
          console.log("showData dm-movimientos");
          console.log(data.detail.response);

          this.dispatchEvent(new CustomEvent("movimientos-response",{"detail":data.detail.response}));
          console.log("  Evento enviando dm-movimientos");
      }

      showError(error){
        console.log("Hubo un error");
        console.log(error.detail);
        this.dispatchEvent(new CustomEvent("movimientos-error",{
          "detail": {
              "msg":"No hay movimientos asociados a la cuenta"
            }
          })
        );
      }

    }

    window.customElements.define(DmMovimientos.is, DmMovimientos);
  </script>
</dom-module>
